<form [formGroup]="clienteForm" (ngSubmit)="guardar()">
    <div class="form-group row" *ngIf="tieneErrores">
        <div class="col-12 alert alert-danger">
            Complete los campos
        </div>
    </div>
    <div class="form-group row">
        <input type="hidden" formControlName="nombres">
        <div class="col-4">
            <label>Nombres</label>
            <input class="form-control" type="text" formControlName="nombres">
        </div>

        <div class="col-4">
            <label>Apellido Paterno</label>
            <input class="form-control" type="text" formControlName="apellido_paterno">
        </div>

        <div class="col-4">
            <label>Apellido Materno</label>
            <input class="form-control" type="text" formControlName="apellido_materno">
        </div>

    </div>

    <div class="form-group row">

        <div class="col-4">
            <label>Cédula</label>
            <input class="form-control" type="text" formControlName="cedula">
        </div>
        <div class="col-4">
            <label>Sexo</label>
            <select class="form-control" formControlName="sexo">
            <option value="">-------</option>
            <option value="F">Femenino</option>
            <option value="M">Masculino</option>
          </select>
        </div>

        <div class="col-4">
            <label>Email</label>
            <input class="form-control" type="text" formControlName="email">
        </div>

    </div>
    <div class="form-group row mt-2">
        <div class="col-12">
            <button class="btn btn-success me-2" type="submit">
          Guardar
        </button>
            <button class="btn btn-danger me-2" type="button" (click)="regresar()">
          Cancelar
        </button>
        </div>
    </div>
</form>